.container {
  --ion-background-color: linear-gradient(
    0deg,
    rgba(0, 136, 152, 1) 0%,
    rgba(235, 253, 255, 1) 100%,
    rgba(131, 58, 180, 1) 100%
  );
}

.welcome-title {
  margin-top: 10vh;
  font-weight: 700;
  font-size: 6vw;
  text-align: center;
}

.app-description {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
  color: #555555;
  text-align: center;
  font-size: 2vw;
}
@media (max-width: 600px) {
  .welcome-title {
    font-size: 12vw;
  }
  .app-description {
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 5.2vw;
  }
}
